<?xml version="1.0" encoding="utf-8"?>

<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application 
        android:icon="@mipmap/ic_launcher" 
        android:roundIcon="@mipmap/ic_launcher" 
        android:label="@string/app_name" 
        android:supportsRtl="true" >
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="阻止调用 getConfiguredNetworks 和getScanResults, 阻断 mServedView 和 mNextServedView 的获取, 避免 wxxcx 莫名其妙崩溃\n测试于 7.0.9, 理论支持全版本\nGitHub @MoonLeeeaf" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
        
    </application>
</manifest>